APP_CONFIG__APP__HOST=127.0.0.1
APP_CONFIG__APP__PORT=8080

APP_CONFIG__DATABASE__URL=postgresql+asyncpg://user:password@db:5432/facility_requests
APP_CONFIG__DATABASE__POOL_SIZE=10
APP_CONFIG__DATABASE__MAX_OVERFLOW=20
APP_CONFIG__DATABASE__POOL_PRE_PING=true
APP_CONFIG__DATABASE__POOL_RECYCLE=1800
APP_CONFIG__DATABASE__POOL_TIMEOUT=30

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=facility_requests
POSTGRES_PORT=5432
